@charset "UTF-8";
/* =====VARS===== */
/* COLORS */
/* =====TYPOGRAPHY===== */
.nav {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
}

.first__title {
  font-family: "Montserrat", sans-serif;
  font-size: 5.4rem;
  line-height: 7rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #415167;
}

.second-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: 900;
  color: #415167;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.second-title_thin {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: capitalize;
}

.third-title {
  font-family: "Nunito", sans-serif;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #415167;
  font-weight: 700;
}

.choose__article-txt {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.2rem;
  color: #151D28;
  text-align: center;
}

/* =====BASE===== */
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  font-size: 10px;
}

.page {
  max-width: 1404px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

a:link,
a:visited {
  color: #EDF0F5;
}

/* =====MIXINS===== */
/*=====connect the fonts=====*/
/* =====UTILITIES===== */
/* =====COMPONENTS===== */
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav__cart {
  display: inline-block;
  margin-bottom: 7rem;
}

.nav__link {
  display: inline-block;
  padding: 5px 0;
}
.nav__link::after {
  content: "";
  display: block;
  background-color: #C7A17A;
  width: 0;
  height: 2px;
  transition: 0.2s;
}
.nav__link:hover {
  color: #fff;
}
.nav__link:hover::after {
  width: 100%;
}

/* =====SECTIONS===== */
/* =====HERO===== */
section {
  padding-top: 11.5rem;
}

.hero {
  width: 100%;
  margin: 0 auto;
}
.hero .hero__content {
  display: flex;
  height: 100vh;
}
.hero .hero__column,
.hero .hero__nav {
  padding-top: 7.2rem;
}
.hero .hero__column_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 43.6rem;
  padding-left: max(15px, (100% - 1130px) / 2);
  padding-bottom: 6.4rem;
}
.hero .hero__logo {
  display: inline-block;
}
.hero .hero__title {
  position: relative;
  z-index: 5;
}
.hero .accent {
  color: #fff;
  display: inline-block;
  background-color: #C7A17A;
}
.hero .hero__column_2 {
  width: calc(100% - 43.6rem);
  position: relative;
  background: url("../img/hero/hero__bg.png") center/cover no-repeat;
}
.hero .hero__nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 33rem;
  padding-left: 5.6rem;
  background-color: #415167;
}

/* =====HERO-END===== */
/* =====CHOOSE===== */
.choose {
  padding-bottom: 12.8rem;
}
.choose .choose__title {
  margin-bottom: 6.4rem;
}
.choose .choose__articles {
  display: flex;
  gap: 6.8rem;
}
.choose .choose__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose .choose__article-img {
  width: 8rem;
  margin-bottom: 1.2rem;
}
.choose .choose__article-title {
  margin-bottom: 1.2rem;
}
/* ======CHOOSE-END===== */
.owl-caruosel {
  color: #000;
}/*# sourceMappingURL=style.css.map */