

.nav {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 300;
}

.first__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 5.4rem;
    line-height: 7rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $PRIMARY_COLOR
}
.second-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 3.4rem;
    font-weight: 900;
    color: $PRIMARY_COLOR;
    text-transform: uppercase;
    
    text-align: center;
    margin: 0 auto;
}
.second-title_thin {
    display:block;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
    text-transform: capitalize;
    
}

.third-title {
    font-family: 'Nunito', sans-serif;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: $PRIMARY_COLOR;
    font-weight: 700;
}

.choose__article-txt {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
    color: $DARK_GRAY;
    text-align: center;
}