

.nav {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 300;
}

.first__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 5.4rem;
    line-height: 7rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $PRIMARY_COLOR
}